# Quick analysis of the optimal hyperparameters for AMG232 to try to understand a good range for a larger run

In [1]:
import numpy as np
import pandas as pd
import sys
import os
import pickle

In [2]:
cv_result_path = "nested_cv_test/AMG-232_all/BRD-K64925568-001-01-8_all_2.5.pkl"

In [3]:
# load cv results
with open(cv_result_path, 'rb') as f:
    cv_results = pickle.load(f)

In [5]:
cv_results

[{'train_val_index': array([  1,   2,   4,   6,   7,   8,  10,  11,  12,  13,  14,  16,  17,
          18,  19,  20,  21,  23,  24,  26,  27,  28,  29,  32,  34,  35,
          36,  37,  38,  40,  41,  43,  44,  47,  48,  49,  50,  51,  52,
          53,  54,  58,  59,  60,  61,  62,  64,  65,  66,  67,  68,  69,
          70,  71,  74,  75,  79,  80,  81,  83,  85,  86,  87,  88,  89,
          91,  92,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 105,
         106, 107, 109, 111, 112, 115, 117, 119, 120, 121, 122, 123, 125,
         126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138,
         139, 142, 143, 144, 146, 147, 149, 150, 151, 152, 153, 154, 155,
         156, 157, 158, 159, 160, 161, 162, 164, 165, 166, 167, 168, 169,
         170, 171, 174, 175, 176, 178, 179, 180, 181, 183, 184, 185, 186,
         187, 188, 189, 190, 191, 194, 195, 196, 197, 198, 199, 200, 201,
         202, 203, 204, 205, 206, 207, 208, 210, 211, 212, 213, 214, 215,
         216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 228, 229,
         230, 231, 232, 234, 235, 236, 238, 240, 241, 242, 243, 244, 245,
         246, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261,
         262, 263, 264, 265, 266, 267, 269, 270, 271, 272, 273, 274, 275,
         276, 277, 278, 279, 280, 281, 282, 284, 285, 286, 287, 289, 290,
         292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304,
         305, 306, 307, 308, 309, 310, 312, 313, 315, 316, 318, 319, 321,
         323, 324, 325, 326, 328, 329, 330, 331, 333, 335, 336, 337, 338,
         339, 342, 343, 344, 345, 346, 347, 348, 350, 351, 352, 353, 354,
         355, 356, 357, 359, 363, 364, 365, 368, 369, 370, 371, 372, 373,
         374, 376, 377, 378]),
  'test_index': array([  0,   3,   5,   9,  15,  22,  25,  30,  31,  33,  39,  42,  45,
          46,  55,  56,  57,  63,  72,  73,  76,  77,  78,  82,  84,  90,
          93, 104, 108, 110, 113, 114, 116, 118, 124, 140, 141, 145, 148,
         163, 172, 173, 177, 182, 192, 193, 209, 227, 233, 237, 239, 247,
         248, 249, 268, 283, 288, 291, 311, 314, 317, 320, 322, 327, 332,
         334, 340, 341, 349, 358, 360, 361, 362, 366, 367, 375]),
  'models': [RandomForestRegressor(max_depth=5, n_jobs=10, random_state=42),
   RandomForestRegressor(max_depth=3, min_samples_split=10, n_jobs=10,
                         random_state=42),
   RandomForestRegressor(max_depth=3, n_jobs=10, random_state=42),
   RandomForestRegressor(max_depth=3, min_samples_split=10, n_jobs=10,
                         random_state=42)],
  'params': [{'max_depth': 5, 'min_samples_split': 2, 'n_estimators': 100},
   {'max_depth': 3, 'min_samples_split': 10, 'n_estimators': 100},
   {'max_depth': 3, 'min_samples_split': 2, 'n_estimators': 100},
   {'max_depth': 3, 'min_samples_split': 10, 'n_estimators': 100}],
  'train_mse': 0.7186106189206223,
  'val_mse': 1.2823309181924267,
  'test_mse': 1.162014891480964},
 {'train_val_index': array([  0,   1,   2,   3,   4,   5,   8,   9,  11,  12,  13,  14,  15,
          20,  21,  22,  23,  25,  26,  27,  28,  29,  30,  31,  32,  33,
          34,  35,  37,  38,  39,  40,  41,  42,  43,  44,  45,  46,  47,
          48,  49,  50,  51,  52,  53,  54,  55,  56,  57,  58,  61,  62,
          63,  64,  65,  67,  68,  69,  70,  71,  72,  73,  74,  76,  77,
          78,  80,  82,  83,  84,  85,  86,  87,  88,  90,  91,  92,  93,
          95,  96,  97,  98,  99, 100, 102, 104, 105, 106, 107, 108, 110,
         112, 113, 114, 115, 116, 117, 118, 120, 121, 122, 123, 124, 125,
         127, 128, 129, 130, 131, 133, 134, 135, 136, 138, 140, 141, 142,
         143, 144, 145, 146, 147, 148, 149, 150, 151, 154, 156, 159, 160,
         161, 162, 163, 164, 166, 169, 170, 171, 172, 173, 174, 175, 177,
         178, 179, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192,
         193, 194, 195, 197, 199, 200, 201, 204, 205, 206, 207, 208, 209,
         210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 221, 223, 226,
         227, 228, 229, 230, 231, 232, 233, 235, 236, 237, 238, 239, 240,
         241, 243, 244, 246, 247, 248, 249, 251, 252, 253, 254, 255, 256,
         257, 259, 260, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271,
         273, 274, 276, 277, 279, 280, 282, 283, 285, 286, 287, 288, 289,
         291, 292, 293, 294, 295, 297, 299, 300, 302, 303, 304, 305, 306,
         308, 309, 310, 311, 312, 313, 314, 315, 317, 318, 319, 320, 321,
         322, 323, 324, 325, 326, 327, 328, 330, 332, 334, 336, 338, 339,
         340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 352, 354,
         358, 359, 360, 361, 362, 363, 364, 366, 367, 369, 371, 372, 373,
         375, 376, 377, 378]),
  'test_index': array([  6,   7,  10,  16,  17,  18,  19,  24,  36,  59,  60,  66,  75,
          79,  81,  89,  94, 101, 103, 109, 111, 119, 126, 132, 137, 139,
         152, 153, 155, 157, 158, 165, 167, 168, 176, 180, 181, 196, 198,
         202, 203, 220, 222, 224, 225, 234, 242, 245, 250, 258, 261, 272,
         275, 278, 281, 284, 290, 296, 298, 301, 307, 316, 329, 331, 333,
         335, 337, 351, 353, 355, 356, 357, 365, 368, 370, 374]),
  'models': [RandomForestRegressor(max_depth=5, n_jobs=10, random_state=42),
   RandomForestRegressor(max_depth=3, n_jobs=10, random_state=42),
   RandomForestRegressor(max_depth=5, min_samples_split=10, n_jobs=10,
                         random_state=42),
   RandomForestRegressor(max_depth=5, n_jobs=10, random_state=42)],
  'params': [{'max_depth': 5, 'min_samples_split': 2, 'n_estimators': 100},
   {'max_depth': 3, 'min_samples_split': 2, 'n_estimators': 100},
   {'max_depth': 5, 'min_samples_split': 10, 'n_estimators': 100},
   {'max_depth': 5, 'min_samples_split': 2, 'n_estimators': 100}],
  'train_mse': 0.588036783977587,
  'val_mse': 1.2377861787556628,
  'test_mse': 1.059460585204167},
 {'train_val_index': array([  0,   1,   3,   4,   5,   6,   7,   8,   9,  10,  12,  13,  14,
          15,  16,  17,  18,  19,  20,  21,  22,  24,  25,  27,  28,  30,
          31,  32,  33,  34,  35,  36,  39,  40,  41,  42,  43,  44,  45,
          46,  47,  48,  49,  50,  51,  52,  53,  54,  55,  56,  57,  58,
          59,  60,  61,  62,  63,  64,  65,  66,  70,  71,  72,  73,  75,
          76,  77,  78,  79,  80,  81,  82,  84,  85,  87,  88,  89,  90,
          91,  93,  94,  95,  98,  99, 100, 101, 102, 103, 104, 105, 106,
         108, 109, 110, 111, 113, 114, 116, 118, 119, 121, 124, 126, 128,
         130, 131, 132, 133, 134, 135, 137, 138, 139, 140, 141, 142, 145,
         148, 149, 150, 151, 152, 153, 155, 156, 157, 158, 159, 160, 161,
         162, 163, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 176,
         177, 178, 180, 181, 182, 184, 186, 187, 188, 189, 190, 191, 192,
         193, 196, 198, 200, 201, 202, 203, 205, 206, 207, 209, 212, 213,
         214, 215, 216, 217, 220, 221, 222, 224, 225, 226, 227, 228, 229,
         230, 233, 234, 235, 236, 237, 239, 240, 241, 242, 243, 245, 246,
         247, 248, 249, 250, 251, 252, 254, 256, 257, 258, 259, 260, 261,
         263, 264, 265, 267, 268, 269, 270, 272, 273, 274, 275, 276, 278,
         279, 280, 281, 282, 283, 284, 287, 288, 290, 291, 292, 293, 294,
         295, 296, 298, 300, 301, 303, 305, 306, 307, 308, 309, 311, 313,
         314, 315, 316, 317, 319, 320, 321, 322, 323, 326, 327, 328, 329,
         330, 331, 332, 333, 334, 335, 336, 337, 338, 340, 341, 343, 344,
         345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357,
         358, 359, 360, 361, 362, 363, 365, 366, 367, 368, 369, 370, 372,
         374, 375, 376, 378]),
  'test_index': array([  2,  11,  23,  26,  29,  37,  38,  67,  68,  69,  74,  83,  86,
          92,  96,  97, 107, 112, 115, 117, 120, 122, 123, 125, 127, 129,
         136, 143, 144, 146, 147, 154, 164, 175, 179, 183, 185, 194, 195,
         197, 199, 204, 208, 210, 211, 218, 219, 223, 231, 232, 238, 244,
         253, 255, 262, 266, 271, 277, 285, 286, 289, 297, 299, 302, 304,
         310, 312, 318, 324, 325, 339, 342, 364, 371, 373, 377]),
  'models': [RandomForestRegressor(max_depth=5, min_samples_split=10, n_jobs=10,
                         random_state=42),
   RandomForestRegressor(max_depth=5, min_samples_split=5, n_jobs=10,
                         random_state=42),
   RandomForestRegressor(max_depth=3, n_jobs=10, random_state=42),
   RandomForestRegressor(max_depth=3, n_jobs=10, random_state=42)],
  'params': [{'max_depth': 5, 'min_samples_split': 10, 'n_estimators': 100},
   {'max_depth': 5, 'min_samples_split': 5, 'n_estimators': 100},
   {'max_depth': 3, 'min_samples_split': 2, 'n_estimators': 100},
   {'max_depth': 3, 'min_samples_split': 2, 'n_estimators': 100}],
  'train_mse': 0.6105526668573578,
  'val_mse': 1.2807091589082562,
  'test_mse': 1.2836259646499197},
 {'train_val_index': array([  0,   1,   2,   3,   5,   6,   7,   9,  10,  11,  13,  15,  16,
          17,  18,  19,  20,  21,  22,  23,  24,  25,  26,  29,  30,  31,
          33,  34,  36,  37,  38,  39,  42,  43,  45,  46,  48,  49,  50,
          52,  53,  54,  55,  56,  57,  58,  59,  60,  63,  66,  67,  68,
          69,  71,  72,  73,  74,  75,  76,  77,  78,  79,  80,  81,  82,
          83,  84,  86,  87,  88,  89,  90,  91,  92,  93,  94,  96,  97,
          99, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112,
         113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125,
         126, 127, 129, 130, 132, 134, 136, 137, 139, 140, 141, 143, 144,
         145, 146, 147, 148, 149, 151, 152, 153, 154, 155, 157, 158, 160,
         161, 163, 164, 165, 166, 167, 168, 169, 172, 173, 174, 175, 176,
         177, 179, 180, 181, 182, 183, 185, 187, 188, 189, 190, 191, 192,
         193, 194, 195, 196, 197, 198, 199, 201, 202, 203, 204, 205, 208,
         209, 210, 211, 214, 217, 218, 219, 220, 222, 223, 224, 225, 227,
         231, 232, 233, 234, 235, 237, 238, 239, 241, 242, 243, 244, 245,
         247, 248, 249, 250, 251, 252, 253, 255, 257, 258, 259, 261, 262,
         263, 264, 266, 268, 269, 270, 271, 272, 273, 275, 276, 277, 278,
         281, 283, 284, 285, 286, 288, 289, 290, 291, 293, 296, 297, 298,
         299, 301, 302, 303, 304, 306, 307, 308, 309, 310, 311, 312, 313,
         314, 315, 316, 317, 318, 319, 320, 322, 324, 325, 327, 328, 329,
         330, 331, 332, 333, 334, 335, 337, 339, 340, 341, 342, 343, 344,
         345, 348, 349, 350, 351, 353, 355, 356, 357, 358, 359, 360, 361,
         362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374,
         375, 376, 377, 378]),
  'test_index': array([  4,   8,  12,  14,  27,  28,  32,  35,  40,  41,  44,  47,  51,
          61,  62,  64,  65,  70,  85,  95,  98, 100, 128, 131, 133, 135,
         138, 142, 150, 156, 159, 162, 170, 171, 178, 184, 186, 200, 206,
         207, 212, 213, 215, 216, 221, 226, 228, 229, 230, 236, 240, 246,
         254, 256, 260, 265, 267, 274, 279, 280, 282, 287, 292, 294, 295,
         300, 305, 321, 323, 326, 336, 338, 346, 347, 352, 354]),
  'models': [RandomForestRegressor(max_depth=5, min_samples_split=5, n_jobs=10,
                         random_state=42),
   RandomForestRegressor(max_depth=5, min_samples_split=5, n_jobs=10,
                         random_state=42),
   RandomForestRegressor(max_depth=3, n_jobs=10, random_state=42),
   RandomForestRegressor(max_depth=5, n_jobs=10, random_state=42)],
  'params': [{'max_depth': 5, 'min_samples_split': 5, 'n_estimators': 100},
   {'max_depth': 5, 'min_samples_split': 5, 'n_estimators': 100},
   {'max_depth': 3, 'min_samples_split': 2, 'n_estimators': 100},
   {'max_depth': 5, 'min_samples_split': 2, 'n_estimators': 100}],
  'train_mse': 0.5842573252935211,
  'val_mse': 1.3858522845171057,
  'test_mse': 1.001696646579356},
 {'train_val_index': array([  0,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  14,
          15,  16,  17,  18,  19,  22,  23,  24,  25,  26,  27,  28,  29,
          30,  31,  32,  33,  35,  36,  37,  38,  39,  40,  41,  42,  44,
          45,  46,  47,  51,  55,  56,  57,  59,  60,  61,  62,  63,  64,
          65,  66,  67,  68,  69,  70,  72,  73,  74,  75,  76,  77,  78,
          79,  81,  82,  83,  84,  85,  86,  89,  90,  92,  93,  94,  95,
          96,  97,  98, 100, 101, 103, 104, 107, 108, 109, 110, 111, 112,
         113, 114, 115, 116, 117, 118, 119, 120, 122, 123, 124, 125, 126,
         127, 128, 129, 131, 132, 133, 135, 136, 137, 138, 139, 140, 141,
         142, 143, 144, 145, 146, 147, 148, 150, 152, 153, 154, 155, 156,
         157, 158, 159, 162, 163, 164, 165, 167, 168, 170, 171, 172, 173,
         175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 192,
         193, 194, 195, 196, 197, 198, 199, 200, 202, 203, 204, 206, 207,
         208, 209, 210, 211, 212, 213, 215, 216, 218, 219, 220, 221, 222,
         223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 236,
         237, 238, 239, 240, 242, 244, 245, 246, 247, 248, 249, 250, 253,
         254, 255, 256, 258, 260, 261, 262, 265, 266, 267, 268, 271, 272,
         274, 275, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287,
         288, 289, 290, 291, 292, 294, 295, 296, 297, 298, 299, 300, 301,
         302, 304, 305, 307, 310, 311, 312, 314, 316, 317, 318, 320, 321,
         322, 323, 324, 325, 326, 327, 329, 331, 332, 333, 334, 335, 336,
         337, 338, 339, 340, 341, 342, 346, 347, 349, 351, 352, 353, 354,
         355, 356, 357, 358, 360, 361, 362, 364, 365, 366, 367, 368, 370,
         371, 373, 374, 375, 377]),
  'test_index': array([  1,  13,  20,  21,  34,  43,  48,  49,  50,  52,  53,  54,  58,
          71,  80,  87,  88,  91,  99, 102, 105, 106, 121, 130, 134, 149,
         151, 160, 161, 166, 169, 174, 187, 188, 189, 190, 191, 201, 205,
         214, 217, 235, 241, 243, 251, 252, 257, 259, 263, 264, 269, 270,
         273, 276, 293, 303, 306, 308, 309, 313, 315, 319, 328, 330, 343,
         344, 345, 348, 350, 359, 363, 369, 372, 376, 378]),
  'models': [RandomForestRegressor(max_depth=5, min_samples_split=5, n_jobs=10,
                         random_state=42),
   RandomForestRegressor(max_depth=5, n_jobs=10, random_state=42),
   RandomForestRegressor(max_depth=3, min_samples_split=10, n_jobs=10,
                         random_state=42),
   RandomForestRegressor(max_depth=5, min_samples_split=5, n_jobs=10,
                         random_state=42)],
  'params': [{'max_depth': 5, 'min_samples_split': 5, 'n_estimators': 100},
   {'max_depth': 5, 'min_samples_split': 2, 'n_estimators': 100},
   {'max_depth': 3, 'min_samples_split': 10, 'n_estimators': 100},
   {'max_depth': 5, 'min_samples_split': 5, 'n_estimators': 100}],
  'train_mse': 0.5283036158880214,
  'val_mse': 1.1134308349687765,
  'test_mse': 2.0389787029087483}]

In [7]:
first_fold_results = cv_results[0]

In [14]:
best_params = []
errors = []
for idx, fold in enumerate(cv_results):
    best_params.append(fold["best_params"])
    errors.append({"fold": idx, "test_mse": fold["test_mse"], "train_mse": fold["train_val_mse"]})

In [15]:
best_param_df = pd.DataFrame(best_params)
error_df = pd.DataFrame(errors)

In [16]:
best_param_df

   max_depth  min_samples_split  n_estimators
0        NaN                  5           100
1        5.0                  5           100
2        5.0                  5           200
3        5.0                  5           100
4        5.0                 10            50

In [17]:
error_df

   fold  test_mse  train_mse
0     0  0.493168   0.082094
1     1  0.401389   0.134965
2     2  0.582997   0.129166
3     3  0.493652   0.131062
4     4  0.554615   0.153318

In [18]:
fold

{'train_val_index': array([  0,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  14,
         15,  16,  17,  18,  19,  22,  23,  24,  25,  26,  27,  28,  29,
         30,  31,  32,  33,  35,  36,  37,  38,  39,  40,  41,  42,  44,
         45,  46,  47,  51,  55,  56,  57,  59,  60,  61,  62,  63,  64,
         65,  66,  67,  68,  69,  70,  72,  73,  74,  75,  76,  77,  78,
         79,  81,  82,  83,  84,  85,  86,  89,  90,  92,  93,  94,  95,
         96,  97,  98, 100, 101, 103, 104, 107, 108, 109, 110, 111, 112,
        113, 114, 115, 116, 117, 118, 119, 120, 122, 123, 124, 125, 126,
        127, 128, 129, 131, 132, 133, 135, 136, 137, 138, 139, 140, 141,
        142, 143, 144, 145, 146, 147, 148, 150, 152, 153, 154, 155, 156,
        157, 158, 159, 162, 163, 164, 165, 167, 168, 170, 171, 172, 173,
        175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 192,
        193, 194, 195, 196, 197, 198, 199, 200, 202, 203, 204, 206, 207,
        208, 209, 210, 211, 212, 213, 215, 216, 218, 219, 220, 221, 222,
        223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 236,
        237, 238, 239, 240, 242, 244, 245, 246, 247, 248, 249, 250, 253,
        254, 255, 256, 258, 260, 261, 262, 265, 266, 267, 268, 271, 272,
        274, 275, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287,
        288, 289, 290, 291, 292, 294, 295, 296, 297, 298, 299, 300, 301,
        302, 304, 305, 307, 310, 311, 312, 314, 316, 317, 318, 320, 321,
        322, 323, 324, 325, 326, 327, 329, 331, 332, 333, 334, 335, 336,
        337, 338, 339, 340, 341, 342, 346, 347, 349, 351, 352, 353, 354,
        355, 356, 357, 358, 360, 361, 362, 364, 365, 366, 367, 368, 370,
        371, 373, 374, 375, 377]),
 'test_index': array([  1,  13,  20,  21,  34,  43,  48,  49,  50,  52,  53,  54,  58,
         71,  80,  87,  88,  91,  99, 102, 105, 106, 121, 130, 134, 149,
        151, 160, 161, 166, 169, 174, 187, 188, 189, 190, 191, 201, 205,
        214, 217, 235, 241, 243, 251, 252, 257, 259, 263, 264, 269, 270,
        273, 276, 293, 303, 306, 308, 309, 313, 315, 319, 328, 330, 343,
        344, 345, 348, 350, 359, 363, 369, 372, 376, 378]),
 'train_val_mse': 0.15331832620131336,
 'test_mse': 0.5546147391335055,
 'best_params': {'max_depth': 5, 'min_samples_split': 10, 'n_estimators': 50},
 'best_model': RandomForestRegressor(max_depth=5, min_samples_split=10, n_estimators=50,
                       n_jobs=12, random_state=42)}

# Check out Results from Smaller Model

In [7]:
import numpy as np
import pandas as pd
import sys
import os
import pickle

In [8]:
cv_result_path = "small_model_cv_fit/AMG-232_all/BRD-K64925568-001-01-8_all_2.5.pkl"

In [9]:
# load cv results
with open(cv_result_path, 'rb') as f:
    cv_results = pickle.load(f)

In [16]:
best_params = []
errors = []
for idx, fold in enumerate(cv_results):
    for param in fold["params"]:
        best_params.append({**param, "fold": idx})
    errors.append({"fold": idx, "test_mse": fold["test_mse"], "val_mse": fold["val_mse"], "train_mse": fold["train_mse"]})

In [17]:
best_param_df = pd.DataFrame(best_params)
error_df = pd.DataFrame(errors)

In [18]:
best_param_df

    max_depth  min_samples_split  n_estimators  fold
0           2                  2            10     0
1           5                  2            10     0
2           2                  2            10     0
3           5                  2            10     0
4           2                  2             5     1
5           2                  2            10     1
6           5                  2            10     1
7           5                  2             5     1
8           2                  2            10     2
9           2                  5            10     2
10          2                  2            10     2
11          2                  2            10     2
12          2                  2            10     3
13          2                  2            10     3
14          5                  5            10     3
15          2                  2            10     3
16          5                  2             5     4
17          2                  2             5     4
18          2                  2             5     4
19          2                  2             5     4

In [19]:
error_df

   fold  test_mse   val_mse  train_mse
0     0  0.556494  0.570508   0.221010
1     1  0.470802  0.553715   0.244378
2     2  0.612355  0.525007   0.294302
3     3  0.498587  0.572836   0.262631
4     4  0.657044  0.481242   0.272596

## How does this change when sweeping max_features?

In [20]:
cv_result_path = "small_model_cv_fit_max_features_sweep/AMG-232_all/BRD-K64925568-001-01-8_all_2.5.pkl"

In [21]:
# load cv results
with open(cv_result_path, 'rb') as f:
    cv_results = pickle.load(f)

In [23]:
best_params = []
errors = []
for idx, fold in enumerate(cv_results):
    for param in fold["best_params"]:
        best_params.append({**param, "fold": idx})
    errors.append({"fold": idx, "test_mse": fold["test_mse"], "val_mse": fold["val_mse"], "train_mse": fold["train_mse"]})

In [24]:
best_param_df = pd.DataFrame(best_params)
error_df = pd.DataFrame(errors)

In [25]:
best_param_df

    max_depth  max_features  n_estimators  fold
0           3           1.0             5     0
1           5           1.0            25     0
2           3           1.0            25     0
3           5           1.0            10     0
4           2           1.0             5     1
5           2           1.0            10     1
6           2           1.0            25     1
7           3           1.0             5     1
8           3           1.0            25     2
9           3           1.0            25     2
10          3           1.0            25     2
11          2           1.0            25     2
12          3           1.0             5     3
13          3           1.0            25     3
14          2           1.0            10     3
15          3           1.0            10     3
16          5           1.0             5     4
17          3           1.0             5     4
18          2           1.0             5     4
19          2           1.0             5     4

In [26]:
error_df

   fold  test_mse   val_mse  train_mse
0     0  0.579726  0.535524   0.170184
1     1  0.444092  0.541885   0.308221
2     2  0.604338  0.497152   0.216531
3     3  0.490966  0.550973   0.236932
4     4  0.662941  0.484760   0.250123